nav {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    nav {
        flex-direction: row;
        gap: 20px;
    }
}

img {
    border-radius: 10px;
}

video {
    width: 50vw;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

button {
    border: none;
    padding: 10px 20px;
}

button:hover {
    opacity: 0.8;
}